<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../assets/style/style.css">

</head>

<body>
    <div class="kanban-container">
        <div class="swimlane ui-sortable">
            <div class="swimlane-heading clearfix">
                <p class="swimlane-title"><strong>New Swimlane</strong></p>
            </div>
            <div class="swimlane-card ui-state-default ui-sortable-handle">
                <span>Test Card 1!</span>
            </div>
            <div class="swimlane-card ui-state-default ui-sortable-handle">
                <span>Test Card 2!</span>
            </div>
            <div class="swimlane-add-card">
                <span>+ Add Card<span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/kanban.js"></script>
</body>

</html>